<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
  <div class="bg-white">
    <div class="sidebar-logo bg-white">
      <a href="https://ng.ant.design/" target="_blank">
        <img
          src="https://fontawesomeicons.com/lib/svg/donate.svg"
          alt="logo"
        />
        <h1>Donate For Me</h1>
      </a>
    </div>
  </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"

    >
    <!-- <li nz-menu-item>
      <span nz-icon nzType="dashboard"></span>
      <span class="mt-10">Dashboard</span>
    </li> -->
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter *ngIf="pathName.includes('business-list')">
            <a routerLink="/welcome/business-list">Business List</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="pathName.includes('user-detail')">
            <a routerLink="/welcome/user-detail">User Detail</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a (click)="onLogout()" class="text-red-700">Logout</a>
      </li>
      <!-- <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>

        </ul>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
        <!-- <app-business-list></app-business-list> -->
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
