<div class="flex justify-center h-full items-center card">
  <div class="border-2  w-1/3 -pt-3 h-fit shadow-2xl shadow-black bg-white opacity-80 rounded-md">
    <!-- Success Card -->
    <div class="bg-white p-8 rounded-md shadow-md">
      <!-- Checkmark Icon -->
      <div class="flex items-center justify-center mb-6">
          <svg class="text-green-500 w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
          </svg>
      </div>
      <!-- Success Message -->
      <h1 class="text-2xl font-bold text-gray-800 mb-4">Registration Successful!</h1>
      <p class="text-gray-600">Thank you for registering with us. You can now access your account.</p>
      <!-- Optional: Add a button to redirect to another page or perform additional actions -->
      <div class="pt-10">
        <a class="bg-orange-950 hover:bg-orange-900 text-white hover:text-white py-2 px-4 rounded-full" (click)="redirect()">Go to Home</a>
      </div>
  </div>
  </div>
</div>
